@font-face {
  font-family: 'norsebold';
  src:
    url('/assets/norse-bold-webfont.woff2') format('woff2'),
    url('/assets/norse-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$border-check: 1px solid crimson;
$ff-poppins: 'Poppins', sans-serif;
$ff-norsebold: 'norsebold', sans-serif;

@mixin margin-sides-auto {
  margin-left: auto;
  margin-right: auto;
}

@mixin margin-sides($size) {
  margin-left: $size;
  margin-right: $size;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
}

.lside {
  background-image: url('https://picsum.photos/1000');
  background-repeat: no-repeat;
  background-size: cover;
  width: 35%;
  position: fixed;
  float: left;
  height: 100%;

  .container2 {
    position: relative;

    .transbg {
      background-color: black;
      opacity: 0.5;
      height: 120px;
      margin-top: 5rem;
    }

    .imgholder {
      position: absolute;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-top: -6.5rem;
      left: 25%;

      @include margin-sides-auto();

      img {
        width: auto;
        height: 100px;
      }

      span {
        margin-left: 0.5rem;
        font-family: $ff-norsebold;
        font-size: 5rem;
        color: white;
      }
    }

    a {
      color: white;
      text-decoration: underline;
    }
  }

  .credit {
    display: block;
    position: fixed;
    bottom: 3.5%;
    left: 12.5%;
    color: white;

    @include margin-sides-auto();
  }
}

.rside {
  width: 65%;
  float: right;
  overflow-y: scroll;

  .top {
    background-color: #f9fafb;

    h2 {
      font-family: $ff-poppins;
      font-size: 1.5rem;

      @include margin-sides(4rem);

      padding-top: 6rem;
    }

    h3 {
      font-family: $ff-poppins;
      font-size: 1.5rem;

      @include margin-sides(4rem);

      padding-top: 3rem;
      padding-bottom: 3rem;
    }
  }

  .form {
    font-family: $ff-poppins;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    z-index: 1;

    ul {
      display: grid;
      grid-template-columns: auto auto;
      width: 80%;
    }

    li {
      display: flex;
      flex-direction: column;
      width: 75%;
      margin-top: 1.5rem;
      margin-bottom: 0.5rem;

      label {
        font-size: 0.75rem;
        letter-spacing: 0.15rem;
        padding-bottom: 0.5rem;
      }

      input {
        height: 30px;
        border: 1px solid #e5e7eb;
        border-radius: 4px;
        padding: 0.5rem;

        &:focus {
          border: 1px solid blue;
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);
          outline: none;
        }
      }

      .error {
        display: none;
        color: #c13838;
        font-size: 0.75rem;
      }
    }
  }

  .bot {
    background-color: #f9fafb;
    width: 100vw;
    padding-bottom: 10rem;

    button {
      font-family: $ff-poppins;
      margin-top: 2rem;
      background-color: #596d48;
      color: white;
      border: none;
      border-radius: 8px;
      padding: 0.75rem 3rem 0.75rem;

      @include margin-sides(4rem);

      font-size: 1rem;
      box-shadow: 4px 8px 8px 1px lightgrey;
      cursor: pointer;
      z-index: 1;
    }

    h3 {
      margin-top: 2rem;
      font-family: $ff-poppins;

      @include margin-sides(4rem);
    }

    a {
      color: #596d48;
      text-decoration: none;
    }
  }
}
